In [91]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [92]:
df=pd.read_csv(r"D:\learning\python\Exploratory data analytics with python\airbnb\Barcelona Airbnb.csv", encoding='unicode_escape')

In [93]:
df.head()

,ï»¿City,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,Multiple_Rooms?,...,guest_satisfaction_overall,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude
0,Barcelona,Spain,Weekend,532.036214,Entire home/apt,False,False,4,False,0,...,91,1,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624
1,Barcelona,Spain,Weekend,169.897829,Private room,False,True,2,True,1,...,88,1,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714
2,Barcelona,Spain,Weekend,196.895292,Private room,False,True,2,False,1,...,90,1,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300
3,Barcelona,Spain,Weekend,141.271208,Private room,False,True,3,False,0,...,86,1,1.648311,0.089442,342.595820,13.228021,820.921957,18.032897,2.15342,41.37912
4,Barcelona,Spain,Weekend,715.200037,Entire home/apt,False,False,4,True,0,...,95,2,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214

In [94]:
df.shape

(2833, 22)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2833 entries, 0 to 2832
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ï»¿City                     2833 non-null   object
 1   Country                     2833 non-null   object
 2   Weekend/Weekday             2833 non-null   object
 3   Price                       2833 non-null   float64
 4   Room_Type                   2833 non-null   object
 5   Room_Shared                 2833 non-null   bool
 6   Room_Private                2833 non-null   bool
 7   Person_Capacity             2833 non-null   int64
 8   Superhost?                  2833 non-null   bool
 9   Multiple_Rooms?             2833 non-null   int64
 10  Business?                   2833 non-null   int64
 11  cleanliness_rating          2833 non-null   int64
 12  guest_satisfaction_overall  2833 non-null   int64
 13  bedrooms                    2833 non-null   int64
 14  Distance from City Center   2833 non-null   float64
 15  Nearest Metro (km)          2833 non-null   float64
 16  attr_index                  2833 non-null   float64
 17  attr_index_norm             2833 non-null   float64
 18  rest_index                  2833 non-null   float64
 19  rest_index_norm             2833 non-null   float64
 20  longitude                   2833 non-null   float64
 21  latitude                    2833 non-null   float64
dtypes: bool(3), float64(9), int64(6), object(4)
memory usage: 429.0+ KB

In [96]:
#correct spelling of city

df.rename(columns={'ï»¿City':'city'}, inplace=True)

In [97]:
#How many unique cities are represented in the dataset?

df['city'].nunique()

1

In [98]:

#What is the average price for Airbnb listings in Barcelona?

df['Price'].mean()

np.float64(293.75370623783266)

In [99]:
#Filter the dataset to show only listings where the price is greater than 500.

#df.query('Price>500')
df[df['Price']>500]

,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,Multiple_Rooms?,...,guest_satisfaction_overall,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude
0,Barcelona,Spain,Weekend,532.036214,Entire home/apt,False,False,4,False,0,...,91,1,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624
4,Barcelona,Spain,Weekend,715.200037,Entire home/apt,False,False,4,True,0,...,95,2,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214
7,Barcelona,Spain,Weekend,740.568343,Entire home/apt,False,False,5,False,0,...,87,2,1.160695,0.417288,622.421177,24.032401,1692.221677,37.172425,2.18057,41.38035
14,Barcelona,Spain,Weekend,532.036214,Entire home/apt,False,False,4,False,0,...,91,1,1.195572,0.579880,512.845336,19.801551,862.671944,18.950004,2.17717,41.39646
15,Barcelona,Spain,Weekend,601.624502,Entire home/apt,False,False,4,False,0,...,92,1,1.618180,0.594303,461.315642,17.811930,934.654469,20.531218,2.16091,41.40000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2806,Barcelona,Spain,Weekday,983.778248,Entire home/apt,False,False,6,False,0,...,80,3,2.491093,0.546099,267.514352,9.117321,657.766656,14.479468,2.19971,41.38894
2820,Barcelona,Spain,Weekday,509.228012,Entire home/apt,False,False,6,False,1,...,95,3,3.978277,0.981599,183.539366,6.255318,369.570820,8.135391,2.21200,41.40400
2828,Barcelona,Spain,Weekday,769.660437,Entire home/apt,False,False,6,False,0,...,84,3,2.503374,0.554007,266.281630,9.075307,678.961341,14.946029,2.19991,41.38834
2831,Barcelona,Spain,Weekday,1770.661205,Entire home/apt,False,False,6,True,0,...,100,3,2.401191,0.461678,277.522208,9.458404,676.248720,14.886316,2.19873,41.38724
2832,Barcelona,Spain,Weekday,543.905788,Entire home/apt,False,False,4,False,1,...,94,1,2.403086,0.607264,276.837633,9.435073,584.713179,12.871337,2.19796,41.39219

In [100]:
#Create a subset of the dataset where the room type is "Private room" and the cleanliness rating is 9 or higher

#dft=df.query('Room_Private == True and cleanliness_rating >= 9')
df[(df['Room_Type'] == "Private room") & (df['cleanliness_rating'] >= 9)]

,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,Multiple_Rooms?,...,guest_satisfaction_overall,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude
1,Barcelona,Spain,Weekend,169.897829,Private room,False,True,2,True,1,...,88,1,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714
2,Barcelona,Spain,Weekend,196.895292,Private room,False,True,2,False,1,...,90,1,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300
3,Barcelona,Spain,Weekend,141.271208,Private room,False,True,3,False,0,...,86,1,1.648311,0.089442,342.595820,13.228021,820.921957,18.032897,2.15342,41.37912
5,Barcelona,Spain,Weekend,173.388880,Private room,False,True,2,False,0,...,96,1,1.474219,0.590511,448.406197,17.313481,752.761077,16.535632,2.18195,41.39691
6,Barcelona,Spain,Weekend,258.105057,Private room,False,True,4,False,1,...,84,1,0.962666,0.356151,791.861018,30.574669,1885.502085,41.418146,2.17742,41.38050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,Barcelona,Spain,Weekday,295.110201,Private room,False,True,2,False,1,...,85,1,1.660597,0.674077,373.556841,12.731420,725.665665,15.974135,2.18839,41.39281
2826,Barcelona,Spain,Weekday,238.322433,Private room,False,True,2,False,0,...,100,1,2.536339,0.485271,300.219798,10.231975,531.581690,11.701749,2.19261,41.40238
2827,Barcelona,Spain,Weekday,300.928620,Private room,False,True,2,False,0,...,100,1,2.394839,0.954952,284.901493,9.709902,564.679172,12.430326,2.19590,41.39637
2829,Barcelona,Spain,Weekday,318.151139,Private room,False,True,2,True,1,...,98,1,2.619616,0.761843,256.669559,8.747713,557.672173,12.276081,2.20066,41.39204
2830,Barcelona,Spain,Weekday,248.562851,Private room,False,True,2,True,1,...,98,1,2.700091,0.866258,250.530700,8.538490,539.136706,11.868058,2.20140,41.39286

In [101]:
#What is the total number of bedrooms available across all listings?

df['bedrooms'].sum()

np.int64(3290)

In [102]:
#Calculate the average guest satisfaction score for listings hosted by Superhosts

# dft=df.query('`Superhost?`==True')
# dft['guest_satisfaction_overall'].aggregate('mean')

# dft=df[df['Superhost?']==True]
# dft['guest_satisfaction_overall'].mean()

df.loc[df['Superhost?'] == True, 'guest_satisfaction_overall'].mean()

np.float64(96.41828793774319)

In [103]:
#Sort the dataset by price in descending order and display the top 5 most expensive listings.

dft=df.sort_values(by = 'Price', ascending=False)
# dft.head(5)
# dft.iloc[0:5]
dft.nlargest(5, 'Price')

,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,Multiple_Rooms?,...,guest_satisfaction_overall,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude
2343,Barcelona,Spain,Weekday,6943.700980,Entire home/apt,False,False,2,False,0,...,87,1,4.575842,0.418405,207.669474,7.077711,309.397364,6.810788,2.11667,41.37793
2342,Barcelona,Spain,Weekday,6943.700980,Entire home/apt,False,False,2,False,0,...,84,1,4.507563,0.405318,218.271930,7.439059,315.460310,6.944252,2.11739,41.37832
898,Barcelona,Spain,Weekend,6942.770033,Entire home/apt,False,False,2,False,0,...,84,1,4.507570,0.405301,218.269758,8.427648,315.459851,6.929593,2.11739,41.37832
899,Barcelona,Spain,Weekend,6942.770033,Entire home/apt,False,False,2,False,0,...,87,1,4.575838,0.418412,207.670522,8.018399,309.397720,6.796428,2.11667,41.37793
494,Barcelona,Spain,Weekend,6086.298787,Entire home/apt,False,False,2,False,0,...,100,3,1.670291,0.697288,501.025922,19.345190,973.606961,21.386874,2.18388,41.37631

In [104]:
#Sort the dataset by the distance from the city center in ascending order to find the listing closest to the city center.

df_sorted=df.sort_values(by='Distance from City Center', ascending=True)
# df_sorted.iloc[0]
# df_sorted.nsmallest(1, 'Distance from City Center')

df_sorted['Distance from City Center']

220     0.095828
1598    0.119903
269     0.119910
1427    0.137703
1673    0.155326
          ...
1100    7.857795
2605    8.062038
1098    8.062066
2614    8.443957
1107    8.443967
Name: Distance from City Center, Length: 2833, dtype: float64

In [105]:
#Group the dataset by room type and calculate the average price for each room type.

# df.groupby('Room_Type')['Price'].mean().sort_values(ascending=True)

# mv=df.groupby(['Weekend/Weekday', 'Room_Type'])['Price'].mean().sort_values(ascending=True)
# mv

df.groupby('Room_Type')['Price'].aggregate('mean').sort_values(ascending=True)

Room_Type
Shared room        124.068083
Private room       214.714206
Entire home/apt    629.855642
Name: Price, dtype: float64

In [106]:

#Group the data by "Weekend/Weekday" and find out which day type has a higher average guest satisfaction overall.

dft=df.groupby('Weekend/Weekday')['guest_satisfaction_overall'].mean().sort_values(ascending=False)
dft.nlargest(1)

# df.groupby('Weekend/Weekday')['guest_satisfaction_overall'].mean().sort_values(ascending=False)

#dft=df.groupby('Weekend/Weekday')['guest_satisfaction_overall'].mean().sort_values(ascending=True)
#df.info()

Weekend/Weekday
Weekend    91.327856
Name: guest_satisfaction_overall, dtype: float64

In [107]:
#Create a new column that shows the price per bedroom for each listing.

df['Price per Bedroom']=df['Price']/df['bedrooms']
df['Price per Bedroom']

0       532.036214
1       169.897829
2       196.895292
3       141.271208
4       357.600019
           ...
2828    256.553479
2829    318.151139
2830    248.562851
2831    590.220402
2832    543.905788
Name: Price per Bedroom, Length: 2833, dtype: float64

In [108]:
# Apply a function to normalize the "cleanliness_rating" column between 0 and 1.

ndf = (df['cleanliness_rating'] - df['cleanliness_rating'].min()) / (df['cleanliness_rating'].max() - df['cleanliness_rating'].min())
ndf

# df.insert(1, 'cleanliness_rating_normalized', value=ndf)

# df.insert(1, 'cleanliness_rating_normalized', df.pop('cleanliness_rating_normalized'))
# df.drop(columns='cleanliness_rating_normalized', inplace=True)

# df['cleanliness_rating_normalized']

0       1.000
1       1.000
2       0.875
3       0.875
4       0.875
        ...
2828    0.750
2829    0.875
2830    1.000
2831    1.000
2832    0.875
Name: cleanliness_rating, Length: 2833, dtype: float64

In [109]:
#Check if there are any missing values in the dataset. If so, which columns have missing data?

df.isnull().sum()

city                          0
Country                       0
Weekend/Weekday               0
Price                         0
Room_Type                     0
Room_Shared                   0
Room_Private                  0
Person_Capacity               0
Superhost?                    0
Multiple_Rooms?               0
Business?                     0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
Distance from City Center     0
Nearest Metro (km)            0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
longitude                     0
latitude                      0
Price per Bedroom             0
dtype: int64

In [114]:
# Drop any rows where the "guest_satisfaction_overall" is missing and show the shape of the resulting DataFrame.

df['guest_satisfaction_overall'].isnull().sum()

df=df['guest_satisfaction_overall'].dropna()
# df['guest_satisfaction_overall'].shape

KeyError: 'guest_satisfaction_overall'

In [115]:
#Imagine you have another DataFrame with additional data about hosts. Write a code snippet to merge this DataFrame with the current dataset on a common column (e.g., Host ID).

other_df = pd.DataFrame({
    'Host ID': [101, 102, 103, 104, 105],
    'Host Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Host Since': ['2018-06-01', '2019-07-15', '2020-08-20', '2021-01-10', '2017-11-30'],
    'Host Rating': [4.8, 4.5, 4.7, 4.9, 4.6],
    'Superhost': [True, False, True, True, False]
})

df.merge(other_df, on='Host ID', how='inner')

AttributeError: 'Series' object has no attribute 'merge'

In [64]:
# Create a pivot table that shows the average price for each room type by "Weekend/Weekday".

df.pivot_table(values='Price', index='Room_Type', columns='Weekend/Weekday', aggfunc='mean')

Weekend/Weekday     Weekday     Weekend
Room_Type
Entire home/apt  572.560054  745.083436
Private room     202.754366  227.668877
Shared room      114.797403  142.609444

In [140]:
# Create a pivot table showing the sum of "Person_Capacity" for different combinations of "Room_Type" and "Superhost?".

df.pivot_table(values='Person_Capacity', index='Room_Type', columns='Superhost?', aggfunc='sum')

Superhost?       False  True
Room_Type
Entire home/apt   1961    374
Private room      4138    906
Shared room         32      2

In [143]:
# Convert the "Price" column from euros to dollars assuming 1 euro = 1.1 dollars.

df['Price']=(df['Price'])*1.1
df['Price']

0        643.763819
1        205.576373
2        238.243303
3        170.938162
4        865.392045
           ...
2828     931.289129
2829     384.962878
2830     300.761049
2831    2142.500058
2832     658.126004
Name: Price, Length: 2833, dtype: float64

In [230]:
# Create a new column that categorizes the listings into "Cheap", "Moderate", and "Expensive" based on the price

bins=[0, 100, 300, float('inf')]
labels=['Cheap', 'Moderate', 'Expensive']
df['Price_Category'] = pd.cut(df['Price'], bins=bins, labels=labels, include_lowest=True)
df[['Price_Category']]

     Price_Category
0         Expensive
1          Moderate
2          Moderate
3          Moderate
4         Expensive
...             ...
2828      Expensive
2829      Expensive
2830       Moderate
2831      Expensive
2832      Expensive

[2833 rows x 1 columns]

In [69]:
#Calculate the correlation between the "Distance from City Center" and "Nearest Metro (km)"
df['Distance from City Center'].corr(df['Nearest Metro (km)'])
# df['Nearest Metro (km)'].corr(df['Distance from City Center'])

np.float64(0.4318546148306783)

In [72]:
#Find the standard deviation of the "Price" column

df['Price'].std()

np.float64(355.4678876142996)

In [92]:
# Extract the first word from the "Room_Type" column.

df['Room_Type'].str.split().str[0]

,cleanliness_rating_normalized,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,...,guest_satisfaction_overall,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude
0,1.000,Barcelona,Spain,Weekend,532.036214,Entire home/apt,False,False,4,False,...,91,1,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624
1,1.000,Barcelona,Spain,Weekend,169.897829,Private room,False,True,2,True,...,88,1,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714
2,0.875,Barcelona,Spain,Weekend,196.895292,Private room,False,True,2,False,...,90,1,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300
3,0.875,Barcelona,Spain,Weekend,141.271208,Private room,False,True,3,False,...,86,1,1.648311,0.089442,342.595820,13.228021,820.921957,18.032897,2.15342,41.37912
4,0.875,Barcelona,Spain,Weekend,715.200037,Entire home/apt,False,False,4,True,...,95,2,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214

In [125]:
# Count how many listings contain the word "Private" in the "Room_Type" column.

#dft=df['Room_Type'].str.split().str[0]
#dft[dft == 'Private'].count()

df[(df['Room_Type'].str.split().str[0])=='Private'].__len__()

2279

In [62]:
# Assume there's a "Date" column in the dataset. Extract the month from this column.  //sorry but I converted price column into date time type 

pd.to_datetime(df['Price']).dt.month

KeyError: 'Price'

In [ ]:
# Calculate how many listings were available in the first quarter of the year.  //sorry here i have converted price column into date time column and named it 'first quarter listings'

df['first quarter listings']=pd.to_datetime(df['Price'])
first_quarter=df[(df['first quarter listings'].dt.month>=1)&(df['first quarter listings'].dt.month<=3)]
first_quarter

In [171]:
# Filter the dataset to show listings that are both "Superhost" and have more than 2 bedrooms.

df.query('`Superhost?`==True and bedrooms>2')

# dft=df[(df['Superhost?']==True) & (df['bedrooms']>2)]
# dft.loc[:, ['Superhost?', 'bedrooms']]

# dft=df[(df['Superhost?']==True) & (df['bedrooms']>2)]
# dft[['Superhost?', 'bedrooms']]

,cleanliness_rating_normalized,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,...,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude,first quarter listings
765,1.000,Barcelona,Spain,Weekend,1770.661205,Entire home/apt,False,False,6,True,...,3,2.401205,0.461694,277.520813,10.715399,676.242282,14.854771,2.19873,41.38724,1970-01-01 00:00:00.000001770
842,1.000,Barcelona,Spain,Weekend,671.212791,Entire home/apt,False,False,6,True,...,3,2.746365,0.492689,297.596132,11.490531,513.294366,11.275353,2.14513,41.37099,1970-01-01 00:00:00.000000671
1295,1.000,Barcelona,Spain,Weekday,1041.496963,Entire home/apt,False,False,6,True,...,3,1.888740,0.137773,1335.130850,45.503413,781.267569,17.198104,2.17300,41.40400,1970-01-01 00:00:00.000001041
1341,1.000,Barcelona,Spain,Weekday,990.527614,Entire home/apt,False,False,6,True,...,3,1.060388,0.192624,583.182088,19.875786,1337.005513,29.431606,2.16000,41.39300,1970-01-01 00:00:00.000000990
1407,1.000,Barcelona,Spain,Weekday,652.593851,Entire home/apt,False,False,5,True,...,3,2.049908,0.461523,583.638847,19.891353,632.755526,13.928897,2.17997,41.40401,1970-01-01 00:00:00.000000652
1473,0.875,Barcelona,Spain,Weekday,404.961948,Entire home/apt,False,False,4,True,...,3,1.104019,0.586984,519.782491,17.715026,904.267597,19.905713,2.17600,41.39600,1970-01-01 00:00:00.000000404
1526,0.875,Barcelona,Spain,Weekday,552.051575,Entire home/apt,False,False,6,True,...,3,2.337605,0.592564,459.537470,15.661778,568.550132,12.515538,2.18118,41.40644,1970-01-01 00:00:00.000000552
1528,1.000,Barcelona,Spain,Weekday,428.002886,Entire home/apt,False,False,3,True,...,3,2.206064,0.336517,282.334893,9.622429,653.104110,14.376831,2.14363,41.38685,1970-01-01 00:00:00.000000428
2084,1.000,Barcelona,Spain,Weekday,705.890567,Entire home/apt,False,False,5,True,...,3,1.122000,0.179497,2040.419567,69.540790,1276.934593,28.109260,2.16180,41.39513,1970-01-01 00:00:00.000000705
2208,1.000,Barcelona,Spain,Weekday,161.984779,Private room,False,True,2,True,...,3,3.608047,0.281073,220.141326,7.502771,395.935914,8.715768,2.13061,41.37389,1970-01-01 00:00:00.000000161
2266,1.000,Barcelona,Spain,Weekday,555.542626,Entire home/apt,False,False,6,True,...,3,2.746396,0.492715,297.592321,10.142426,513.286569,11.299017,2.14513,41.37099,1970-01-01 00:00:00.000000555
2331,0.750,Barcelona,Spain,Weekday,990.527614,Entire home/apt,False,False,6,True,...,3,1.060404,0.192599,583.188707,19.876012,1336.989084,29.431245,2.16000,41.39300,1970-01-01 00:00:00.000000990
2484,0.875,Barcelona,Spain,Weekday,729.164242,Entire home/apt,False,False,6,True,...,3,2.374502,0.805698,422.051328,14.384190,592.996907,13.053687,2.16629,41.40834,1970-01-01 00:00:00.000000729
2524,0.875,Barcelona,Spain,Weekday,636.767752,Entire home/apt,False,False,5,True,...,3,2.294469,0.754527,437.805478,14.921117,607.284725,13.368206,2.16646,41.40763,1970-01-01 00:00:00.000000636
2603,1.000,Barcelona,Spain,Weekday,630.716597,Entire home/apt,False,False,6,True,...,3,2.251511,0.730821,391.885598,13.356093,716.094356,15.763441,2.15976,41.40589,1970-01-01 00:00:00.000000630
2801,1.000,Barcelona,Spain,Weekday,529.941583,Entire home/apt,False,False,5,True,...,3,2.509510,0.732089,267.423290,9.114217,561.823108,12.367456,2.19900,41.39300,1970-01-01 00:00:00.000000529
2831,1.000,Barcelona,Spain,Weekday,1770.661205,Entire home/apt,False,False,6,True,...,3,2.401191,0.461678,277.522208,9.458404,676.248720,14.886316,2.19873,41.38724,1970-01-01 00:00:00.000001770

In [197]:
# Filter listings that are within 1 km of the city center and have a guest satisfaction score of 95 or higher.

df.query('`Distance from City Center` <=1 and guest_satisfaction_overall >=95')

# dft=df[(df['Distance from City Center']<=1)&(df['guest_satisfaction_overall']>95)]
# dft[['Distance from City Center','guest_satisfaction_overall']]

,cleanliness_rating_normalized,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,...,bedrooms,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude,first quarter listings
4,0.875,Barcelona,Spain,Weekend,715.200037,Entire home/apt,False,False,4,True,...,2,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214,1970-01-01 00:00:00.000000715
21,1.000,Barcelona,Spain,Weekend,246.468220,Private room,False,True,3,True,...,1,0.650221,0.294320,565.413500,21.831269,1124.670235,24.705226,2.17636,41.39052,1970-01-01 00:00:00.000000246
22,0.875,Barcelona,Spain,Weekend,237.391487,Private room,False,True,2,False,...,1,0.827518,0.133968,1372.626687,52.998703,1979.702907,43.487422,2.17441,41.38046,1970-01-01 00:00:00.000000237
37,0.875,Barcelona,Spain,Weekend,219.703493,Private room,False,True,2,True,...,1,0.562833,0.169871,1211.032144,46.759351,1815.283887,39.875688,2.17165,41.38222,1970-01-01 00:00:00.000000219
40,1.000,Barcelona,Spain,Weekend,161.984779,Private room,False,True,2,False,...,1,0.234330,0.234108,680.955661,26.292485,1463.900893,32.156984,2.17280,41.38692,1970-01-01 00:00:00.000000161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,1.000,Barcelona,Spain,Weekday,297.670305,Private room,False,True,2,False,...,1,0.436766,0.281950,582.292079,19.845453,1432.126044,31.525502,2.17100,41.39100,1970-01-01 00:00:00.000000297
2346,1.000,Barcelona,Spain,Weekday,347.010496,Private room,False,True,2,False,...,1,0.794897,0.438820,685.860385,23.375228,1327.789064,29.228724,2.16223,41.39125,1970-01-01 00:00:00.000000347
2397,1.000,Barcelona,Spain,Weekday,347.010496,Private room,False,True,2,False,...,1,0.962871,0.395527,532.821461,18.159415,1277.467384,28.120989,2.15981,41.39116,1970-01-01 00:00:00.000000347
2405,1.000,Barcelona,Spain,Weekday,608.606605,Private room,False,True,5,False,...,1,0.797005,0.407963,821.033846,27.982158,1327.765527,29.228206,2.16300,41.39200,1970-01-01 00:00:00.000000608
2435,1.000,Barcelona,Spain,Weekday,312.565457,Private room,False,True,2,False,...,1,0.625042,0.397917,606.788122,20.680318,1363.381869,30.012231,2.16311,41.38930,1970-01-01 00:00:00.000000312

In [198]:
# Write a custom aggregation function to calculate the mean and standard deviation of the "Price" column



def mean_std_agg(ser):
    return {
        'mean': ser.mean(),
        'std': ser.std(),
        'var': ser.var()
    }

df['Price'].agg(mean_std_agg)

{'mean': np.float64(293.75370623783266),
 'std': np.float64(355.4678876142996),
 'var': np.float64(126357.41912497235)}

In [200]:
# Group the data by "Room_Type" and apply a custom function to calculate the range (max-min) of "cleanliness_rating" for each group.

def range1(ran):
    return ran.max() - ran.min()


# Group by 'Room_Type' and apply the custom function to 'cleanliness_rating'
df.groupby('Room_Type')['cleanliness_rating'].apply(range1)

Room_Type
Entire home/apt    8
Private room       8
Shared room        2
Name: cleanliness_rating, dtype: int64

In [137]:
# convert the "Superhost?" column from a boolean to an integer (0 or 1).

df['Superhost?'].astype(int)

0       0
1       1
2       0
3       0
4       1
       ..
2828    0
2829    1
2830    1
2831    1
2832    0
Name: Superhost?, Length: 2833, dtype: int64

In [202]:
# Find the percentage of listings that have "Room_Shared" as True.

((df[df['Room_Shared']==True].__len__())/len(df))*100

# ((df[df['Room_Shared']==True].__len__())/(df[['Room_Shared']].__len__()))*100

0.4235792446170138

In [218]:
# Reshape the dataset using melt() to have "Room_Type" as a variable and "Price" as a value.

# pd.melt(df, id_vars='Room_Type', value_vars='Price', var_name='Value=' , value_name='Price')

# pd.melt(df, id_vars='Room_Type', value_vars='Price')

df.melt(id_vars='Room_Type', value_vars='Price', var_name='Price=')

            Room_Type Price=        value
0     Entire home/apt  Price   532.036214
1        Private room  Price   169.897829
2        Private room  Price   196.895292
3        Private room  Price   141.271208
4     Entire home/apt  Price   715.200037
...               ...    ...          ...
2828  Entire home/apt  Price   769.660437
2829     Private room  Price   318.151139
2830     Private room  Price   248.562851
2831  Entire home/apt  Price  1770.661205
2832  Entire home/apt  Price   543.905788

[2833 rows x 3 columns]

In [227]:
# Use pivot() to transform the dataset such that the columns represent different "Room_Type" and values are the average "guest_satisfaction_overall".

df.pivot_table(values='guest_satisfaction_overall',  index='Weekend/Weekday', columns='Room_Type',  aggfunc='mean')

# df.pivot_table(values='Price', index='Room_Type', columns='Weekend/Weekday', aggfunc='mean')

# pivot_table.rename(columns={'guest_satisfaction_overall': 'average gust satisfaction'}, inplace=True)

#df['average_guest_satisfaction']

Weekend/Weekday     Weekday     Weekend
Room_Type
Entire home/apt  572.560054  745.083436
Private room     202.754366  227.668877
Shared room      114.797403  142.609444

In [232]:
# Set the "City" column as the index of the DataFrame and sort it.

df.rename(columns={'ï»¿City':'city'}, inplace=True)
df.set_index('city').sort_index(ascending=True)

,cleanliness_rating_normalized,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,Multiple_Rooms?,...,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude,first quarter listings,Price_Category
city,,,,,,,,,,,,,,,,,,,,,
Barcelona,1.000,Spain,Weekend,532.036214,Entire home/apt,False,False,4,False,0,...,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624,1970-01-01 00:00:00.000000532,Expensive
Barcelona,1.000,Spain,Weekend,169.897829,Private room,False,True,2,True,1,...,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714,1970-01-01 00:00:00.000000169,Moderate
Barcelona,0.875,Spain,Weekend,196.895292,Private room,False,True,2,False,1,...,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300,1970-01-01 00:00:00.000000196,Moderate
Barcelona,0.875,Spain,Weekend,141.271208,Private room,False,True,3,False,0,...,1.648311,0.089442,342.595820,13.228021,820.921957,18.032897,2.15342,41.37912,1970-01-01 00:00:00.000000141,Moderate
Barcelona,0.875,Spain,Weekend,715.200037,Entire home/apt,False,False,4,True,0,...,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214,1970-01-01 00:00:00.000000715,Expensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Barcelona,0.750,Spain,Weekday,769.660437,Entire home/apt,False,False,6,False,0,...,2.503374,0.554007,266.281630,9.075307,678.961341,14.946029,2.19991,41.38834,1970-01-01 00:00:00.000000769,Expensive
Barcelona,0.875,Spain,Weekday,318.151139,Private room,False,True,2,True,1,...,2.619616,0.761843,256.669559,8.747713,557.672173,12.276081,2.20066,41.39204,1970-01-01 00:00:00.000000318,Expensive
Barcelona,1.000,Spain,Weekday,248.562851,Private room,False,True,2,True,1,...,2.700091,0.866258,250.530700,8.538490,539.136706,11.868058,2.20140,41.39286,1970-01-01 00:00:00.000000248,Moderate
Barcelona,1.000,Spain,Weekday,1770.661205,Entire home/apt,False,False,6,True,0,...,2.401191,0.461678,277.522208,9.458404,676.248720,14.886316,2.19873,41.38724,1970-01-01 00:00:00.000001770,Expensive
Barcelona,0.875,Spain,Weekday,543.905788,Entire home/apt,False,False,4,False,1,...,2.403086,0.607264,276.837633,9.435073,584.713179,12.871337,2.19796,41.39219,1970-01-01 00:00:00.000000543,Expensive

In [236]:
# Select all rows where the "Person_Capacity" is greater than 4 and the listing is located within 2 km of the nearest metro station.

df[(df['Person_Capacity']>4)&(df['Distance from City Center']<=2)]

# df.query('Person_Capacity >4 and `Distance from City Center`<=2')

,cleanliness_rating_normalized,city,Country,Weekend/Weekday,Price,Room_Type,Room_Shared,Room_Private,Person_Capacity,Superhost?,...,Distance from City Center,Nearest Metro (km),attr_index,attr_index_norm,rest_index,rest_index_norm,longitude,latitude,first quarter listings,Price_Category
7,0.875,Barcelona,Spain,Weekend,740.568343,Entire home/apt,False,False,5,False,...,1.160695,0.417288,622.421177,24.032401,1692.221677,37.172425,2.18057,41.38035,1970-01-01 00:00:00.000000740,Expensive
26,1.000,Barcelona,Spain,Weekend,416.598785,Private room,False,True,5,True,...,1.288906,0.155560,566.492172,21.872917,1228.536275,26.986814,2.17738,41.37694,1970-01-01 00:00:00.000000416,Expensive
61,1.000,Barcelona,Spain,Weekend,416.598785,Entire home/apt,False,False,5,False,...,0.945031,0.178223,420.041414,16.218284,1062.712037,23.344213,2.16100,41.38200,1970-01-01 00:00:00.000000416,Expensive
100,0.875,Barcelona,Spain,Weekend,393.092373,Entire home/apt,False,False,6,False,...,1.675567,0.311248,999.406370,38.588235,801.564256,17.607674,2.17263,41.40210,1970-01-01 00:00:00.000000393,Expensive
106,1.000,Barcelona,Spain,Weekend,528.777899,Entire home/apt,False,False,6,True,...,1.121800,0.821384,557.742740,21.535092,1025.219935,22.520637,2.16980,41.39724,1970-01-01 00:00:00.000000528,Expensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0.625,Barcelona,Spain,Weekday,678.194894,Entire home/apt,False,False,6,False,...,1.792811,0.729800,502.020137,17.109656,751.763645,16.548632,2.16600,41.40300,1970-01-01 00:00:00.000000678,Expensive
2548,0.750,Barcelona,Spain,Weekday,1094.793679,Entire home/apt,False,False,6,False,...,1.858318,0.779408,481.007164,16.393500,734.258845,16.163297,2.16527,41.40349,1970-01-01 00:00:00.000001094,Expensive
2581,1.000,Barcelona,Spain,Weekday,370.284172,Private room,False,True,5,False,...,1.581800,0.827461,503.342788,17.154734,850.870280,18.730274,2.16522,41.40092,1970-01-01 00:00:00.000000370,Expensive
2601,0.000,Barcelona,Spain,Weekday,712.872670,Entire home/apt,False,False,6,False,...,1.548257,0.669228,561.523731,19.137634,821.384414,18.081199,2.16800,41.40100,1970-01-01 00:00:00.000000712,Expensive
2802,0.875,Barcelona,Spain,Weekday,475.713920,Entire home/apt,False,False,5,False,...,1.672534,0.847402,418.002046,14.246184,1267.257683,27.896242,2.18809,41.38069,1970-01-01 00:00:00.000000475,Expensive

In [143]:
# Export a filtered subset of the dataset (e.g., listings with more than 3 bedrooms) to a new CSV file.

ndf=df[df['bedrooms']>3]

ndf.to_csv('more.csv', index=False)

In [238]:

summary_stats = df.describe().T
summary_stats.insert(2, 'median', (df.median(numeric_only=True)))
summary_stats[['mean', 'median', 'std']]

,mean,median,std
cleanliness_rating_normalized,0.911445,1.000000,0.126822
Price,293.753706,208.299393,355.467888
Person_Capacity,2.616661,2.000000,1.153124
Multiple_Rooms?,0.385104,0.000000,0.486706
Business?,0.32545,0.000000,0.468625
cleanliness_rating,9.291564,10.000000,1.014577
guest_satisfaction_overall,91.109072,93.000000,8.607153
bedrooms,1.161313,1.000000,0.517108
Distance from City Center,2.116982,1.732003,1.377859
Nearest Metro (km),0.441248,0.376994,0.28454
attr_index,460.76701,386.259773,264.421186
attr_index_norm,16.63622,14.040570,9.591798
rest_index,881.070446,808.624005,466.37977
rest_index_norm,19.376528,17.766466,10.256285
longitude,2.169379,2.170960,0.019545
latitude,41.393495,41.390390,0.016138
first quarter listings,1970-01-01 00:00:00.000000293,NaN,NaN